apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api-deployment
  namespace: backend
  labels:
    app: users-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
        - name: users-api
          image: 617315822143.dkr.ecr.us-east-1.amazonaws.com/proyecto-backend:latest
          ports:
            - containerPort: 8000
          env:
            - name: NOTIFICATION_URL
              valueFrom:
                configMapKeyRef:
                  name: users-api-config
                  key: notification_url
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: host
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: password
          readinessProbe:
            httpGet:
              path: /api/users/
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"