apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api-deployment
  namespace: backend
  labels:
    app: users-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
        - name: users-api
          image: 912119905922.dkr.ecr.us-east-1.amazonaws.com/proyecto-backend:v1.0.3
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: NOTIFICATION_URL
              valueFrom:
                configMapKeyRef:
                  name: users-api-config
                  key: notification_url
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PORT
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: SECRET_KEY
            - name: DEBUG
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DEBUG
            - name: ALLOWED_HOSTS
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: ALLOWED_HOSTS
          readinessProbe:
            httpGet:
              path: /api/health/
              port: 8000
            initialDelaySeconds: 30    # Aumentado de 10 a 30
            periodSeconds: 15          # Aumentado de 10 a 15
            timeoutSeconds: 10         # Aumentado de 5 a 10
            failureThreshold: 5        # Aumentado de 3 a 5
          livenessProbe:
            httpGet:
              path: /api/health/
              port: 8000
            initialDelaySeconds: 60    # Aumentado de 30 a 60
            periodSeconds: 30          # Aumentado de 20 a 30
            timeoutSeconds: 10         # Aumentado de 5 a 10
            failureThreshold: 5        # Aumentado de 3 a 5
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"